.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  cursor: pointer;
}

.container {
  background-color: #f8f6f2;
  border-radius: 16px;
  padding: 16px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.description {
  color: #676461;
  margin-bottom: 16px;
}

.input {
  background-color: #fff;
  padding: 4px 8px;
  margin-bottom: 8px;
}

.label {
  color: #676461;
  font-weight: lighter;
}

.buttonContainer {
  display: flex;
  gap: 8px;
  justify-content: end;
  border-radius: 4px;
}

.undo {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top: 8px;
  font-weight: 400;
  background-color: #fcfaf8;
  color: #676461;
  border: 1px solid #ece8e3;
}

.save {
  cursor: pointer;
  border-radius: 4px;
  padding: 4px 8px;
  margin-top: 8px;
  font-weight: 400;
  background-color: #c7460c;
  color: #fff;
  border: 1px solid #7b2a03;
}

.techTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #676461;
  p {
    margin-bottom: 4px;
  }
}
.techContainer {
  padding: 8px;
  background-color: #fff;
  border: solid 1px #ece8e3;
  margin-bottom: 8px;
}
.techFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.icon {
  fill: gray;
}

.active {
  fill: black;
}
