.header {
  padding: 8px 8px;
  border-bottom: 2px solid #ece8e3;
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    border-radius: 4px;
    padding: 4px 8px;
    background-color: #fcfaf8;
    border: 1px solid #ece8e3;
    color: #676461;
    white-space: nowrap;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;
  }

  .buttonContainer {
    height: 42px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: #fcfaf8;
    border: 1px solid #ece8e3;
    color: #676461;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #fcfaf8;
    color: #676461;
    border: 1px solid #ece8e3;
    border-radius: 4px;
  }

  .input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    border-radius: 0;
    font: inherit;
    outline: none;

    width: 100%;
    height: 42px;
    padding: 0px 4px;
    border: 1px solid #ece8e3;
    color: #676461;
  }
  .title {
    color: #676461;
    font-weight: bold;
  }
  .flex {
    display: flex;
    gap: 4px;
  }
}
