.wrapper {
  padding: 0px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  background-color: #fcfaf8;
  border: solid 1px #ece8e3;
  border-radius: 4px;
  width: fit-content;
  .icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .label {
    color: #676461;
  }
  .buttons {
    height: 32px;
    display: flex;
    gap: 6px;
  }
}

.buttonReset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

.button {
  color: #979490;

  &:hover {
    color: #32312f;
  }

  &:active {
    color: #32312f;
  }
}
