.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  .icon {
    width: 32px;
    height: 32px;
  }
  .label {
    color: #676461;
  }
  .delete {
    width: 32px;
    height: 32px;
    padding: 6px;
    border: none;
    .deleteIcon {
      width: 20px;
      height: 20px;
      fill: #d9d9d9;
    }
  }
}
