.card {
  position: relative;
  display: flex;
  /* height: 28px; */
  border-radius: 8px;
  background: #fff;
}

.checkbox {
  margin-left: 12px;
  margin-right: 0;
}

.input {
  height: 28px;
  border: none;
  width: 100%;
  background: none;
  color: black;
  padding: 8px 8px;
}

.input:focus {
  outline: none;
}

.connector {
  position: absolute;
  cursor: pointer;
  display: flex;
  background: none;
  border: none;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.connector > svg {
  fill: #7f7e7d;
}

.connector > svg:hover {
  fill: #9f9e9d;
}

.connector-left {
  left: -15px;
}

.connector-right {
  right: -15px;
}
