.card {
  position: relative;
  display: flex;
  height: 28px;
  border-radius: 8px;
  margin-bottom: 4px;
  background: #fff;
}

.checkbox {
  margin-left: 14px;
}

.input {
  height: 28px;
  border: none;
  width: 100%;
  background: none;
  color: black;
  padding: 5px 8px;
}

.input:focus {
  outline: none;
}

.connector-left {
  position: absolute;
  top: 3px;
  left: -15px;
}

.connector-right {
  position: absolute;
  top: 3px;
  right: -15px;
}