button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

p {
  color: #676461;
}

.title {
  font-size: 18px;
}

.subTitle {
  font-size: 16px;
  color: #676461;
  display: flex;
}

.container {
  background-color: #f8f6f2;
  border-radius: 16px;
  padding: 16px;
}

.formContainer {
  display: flex;
  gap: 0px 16px;
}

.input {
  width: 100%;
  border: 1px solid #ece8e3;
  color: #676461;
  background-color: #fff;
  padding: 8px 4px;
}

.button {
  background-color: #c7460c;
  color: #fff;
  border: 1px solid #7b2a03;
  border-radius: 4px;
  width: 112px;
}
